/voice-to-code/node_modules
/voice-backend/code_templates/__pycache__
/voice-backend/__pycache__
/voice-backend/models/*
/voice-backend/.env
/voice-backend/env
/docs/reference
/docs/patent
/docs/dump
**/.env
/test
.env
/voice-coding-assistant/